:root {
  --background-color-1: #31353f;
  --background-color-2: #1b2028;
  --main-100: #3a6ff8;
  --text-100: #ffffff;
  --text-10: #9e9e9e;
  --background-color: #1b2028;
  --text-color: #e4e4e4;
  --box-shadow: 4px 4px 33px 0 rgba(0, 0, 0, 0.05);
}
* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
.container {
  margin: 24px 0 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 629px;
  height: fit-content;
  position: relative;
}
.overview {
  border-radius: 10px;
  background: var(--background-color-1);
  display: flex;
  padding-right: 31px;
  width: 1440px;
}
.sidebar {
  background: var(--background-color-2);
  position: relative;
  margin-right: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0 48px;
  width: 256px;
}
.top-menu {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex-grow: 1;
}
.sidebar-link {
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 1rem;
  width: 197px;
  height: 50px;
  border-radius: 10px;
}
.sidebar-link:hover {
  cursor: pointer;
  box-shadow: 4px 4px 32px 0 rgba(103, 90, 255, 0.07);
}
.sidebar-link_active {
  background: var(--main-100);
  color: white;
}
.sidebar-link-icon {
  margin-right: 20px;
}
.header {
  margin: 0 7.7px 66px 6px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.dashboard {
  width: 264px;
  font-weight: 600;
  font-size: 32px;
  color: var(--text-100);
}
.search-bar {
  border-radius: 8px;
  background: #1b2028;
  margin: 2px 0;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  width: 450px;
  height: fit-content;
}
.search {
  display: inline-block;
  width: 375.5px;
  font-weight: 400;
  font-size: 14px;
  color: var(--text-10);
}
.container-coins-card {
  margin: 0 1px 32px 6px;
  display: flex;
  flex-direction: row;
  column-gap: 30px;
  width: fit-content;
  box-sizing: border-box;
}
.coin-card {
  box-shadow: 4px 4px 33px 0px rgba(0, 0, 0, 0.05);
  border-radius: 15px;
  background: #1b2028;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}
.coin-card-header {
  margin: 0 3.8px 16px 0;
  display: flex;
  justify-content: space-between;
  width: 217.2px;
}
.coin-card-icon {
  border-radius: 10px;
  background: #31353f;
  position: relative;
  margin: 0 19px 4px 0;
  display: flex;
  justify-content: center;
  padding: 12px;
  width: 44px;
  height: 44px;
}
.coin-icon,
.icon-arrow {
  display: flex;
  justify-content: center;
}
.coin-name-long,
.coin-name-short,
.price-percentage,
.price-amount {
  display: inline-block;
  overflow-wrap: break-word;
  color: var(--text-100, #ffffff);
}
.coin-name {
  display: flex;
  flex-direction: column;
}
.coin-name-long {
  margin-bottom: 6px;
  font-weight: 600;
  font-size: 16px;
}
.coin-name-short {
  opacity: 0.6;
  font-weight: 400;
  font-size: 12px;
}
.icon-arrow {
  margin: 16.1px 0 26.1px 0;
  width: 10.5px;
  height: 5.7px;
}
.icon-arrow-down {
  transform: rotateX(180deg);
}
.coin-card-body {
  display: flex;
  width: fit-content;
}
.price-container {
  margin-right: 29px;
  display: flex;
  flex-direction: column;
}
.price-percentage {
  align-self: flex-start;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.3px;
  line-height: 1.604;
  color: var(--secondary-100, #1ecb4f);
}
.price-percentage-down {
  color: red;
}
.price-amount {
  margin: 0 0 12.5px 1px;
  font-weight: 600;
  font-size: 21px;
  letter-spacing: 0.4px;
}
.graph {
  position: relative;
  margin: 13px 0 7px 0;
  display: flex;
  justify-content: flex-end;
  padding: 12px 0 24.5px 0;
  width: 111px;
  height: 46.5px;
}
.graph-ellipse {
  filter: blur(2.5px);
  border-radius: 5px;
  background: var(--main-100, #3a6ff8);
  position: relative;
  width: 10px;
  height: 10px;
}
.graph-line {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 107px;
  height: 46.5px;
}
.container-sub {
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.container-sub-left {
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.master-card {
  border-radius: 15px;
  background: #3a6ff8;
  position: relative;
  margin: 0 0 32px 5px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: fit-content;
}
.master-image-container {
  opacity: 0.3;
  border-radius: 15px;
  position: absolute;
  height: 100%;
  inset: 0;
  overflow: hidden;
}
.master-image {
  opacity: 0.66;
  mix-blend-mode: color-burn;
  background: url("https://fn12.com/api/clusters/cluster-fn12-prod-europe-west1/projects/V8nsE1c3GiWFzT7w4omtNH/assets/images/82f30c3546b854efedc830aa72bb39bcc6aacacc?Expires=1711247747&KeyName=fn12-cdn&Signature=a5Zc_1SqFdyhBmzWdhG-GyZ91ao=")
    50% / cover no-repeat;
  position: absolute;
  left: -1px;
  top: -9.8px;
  width: 100%;
  height: 198.4px;
}
.amount {
  position: relative;
  margin: 0 1px 23px 1px;
  display: inline-block;
  align-self: flex-start;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 2.7px;
  color: var(--text-100, #ffffff);
}
.master-data {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 315px;
}
.master-data-name,
.viza {
  display: inline-block;
  overflow-wrap: break-word;
  color: var(--text-100, #ffffff);
}
.master-data-name {
  opacity: 0.6;
  margin: 6px 9px 6px 0;
  width: 257.4px;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}
.viza {
  font-style: italic;
  font-weight: 700;
  font-size: 19.9px;
  letter-spacing: 0.6px;
}
.container-sub-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.my-portfolio,
.chart-container {
  box-shadow: var(--box-shadow);
  border-radius: 15px;
  background: var(--background-color);
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 30px;
  width: fit-content;
}
.my-portfolio {
  padding-bottom: 26px;
}
.my-portfolio-title {
  margin-bottom: 24px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-weight: 600;
  font-size: 21px;
  letter-spacing: 0.6px;
  color: var(--text-color);
}
.row,
.row-container {
  display: flex;
  box-sizing: border-box;
}
.row {
  justify-content: space-between;
  margin: 0 0 18px 1px;
  width: 299px;
}
.row-icon {
  background: var(--background-color-1);
  border-radius: 8px;
  justify-content: center;
  margin: 0 16px 6px 0;
  padding: 10px;
  position: relative;
  width: 44px;
  height: 44px;
}
.row-container-middle,
.row-container-end {
  flex-direction: column;
}
.row-container-end {
  align-items: flex-end;
}
.row-price-amount {
  font-size: 1rem;
}
.chart-container {
  align-items: flex-end;
  padding: 30px 24px 28px;
  margin-bottom: 32px;
}
.chart-container-heading {
  margin: 0 10px 24px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 675px;
  box-sizing: border-box;
}
.heading {
  margin-right: 16px;
  width: 525px;
  overflow-wrap: break-word;
  font-weight: 600;
  font-size: 21px;
  color: var(--text-100, #ffffff);
}
.icondollar-circle {
  margin: 2px 10.4px 2px 0;
}
.container-sub-container {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.button {
  border-radius: 5px;
  border: 1px solid var(--background-color-1, #31353f);
  display: flex;
  flex-direction: row;
  padding: 4px 9.8px 4px 4px;
  box-sizing: border-box;
}
.button-1 {
  margin-right: 15px;
  justify-content: center;
  padding: 6px;
  width: 32px;
  height: 32px;
}
.usd {
  opacity: 0.6;
  margin-right: 16.2px;
  overflow-wrap: break-word;
  font-weight: 600;
  font-size: 10px;
  line-height: 2.2;
  color: var(--stroke, #e4e4e4);
}
.iconarrow-down-118 {
  margin: 9.4px 0 8.8px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 6.4px;
  height: 3.8px;
  box-sizing: border-box;
}
.chart-container-data {
  margin-bottom: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 685px;
  box-sizing: border-box;
}
.container-232 {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.pagination-container {
  margin: 18px 0 12px 0;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.pagination {
  border-radius: 15px;
  border: 1px solid var(--background-color-1, #31353f);
  margin-right: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0 14.3px;
  box-sizing: border-box;
}
.panigation-active {
  border-radius: 15px;
  background: var(--main-linear, #3a6ff8);
  margin-right: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0 15px;
  box-sizing: border-box;
}
.h {
  overflow-wrap: break-word;
  font-weight: 500;
  font-size: 10px;
  line-height: 2.2;
  color: var(--stroke, #e4e4e4);
}
.amouts-container {
  margin: 0 4px 13px 0;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.amounts {
  margin-right: 11.8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.amount {
  margin: 0 0.5px 30px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-weight: 400;
  font-size: 10px;
  color: var(--text-10, #9e9e9e);
}
.bars {
  opacity: 0.1;
  margin-left: 6px;
  display: flex;
  flex-direction: row;
  align-items: end;
  column-gap: 5px;
  padding-right: 4px;
  width: 623px;
  box-sizing: border-box;
  position: absolute;
inset: auto auto 0 0;
}
.bar {
  background: var(--main-linear, #3a6ff8);
  margin-top: 16px;
  width: 8px;
}
.bar-16 {
  height: 16px;
}
.bar-22 {
  height: 22px;
}
.bar-32 {
  height: 32px;
}
.bar-17 {
  height: 17px;
}
.bar-10 {
  height: 10px;
}
.line-19 {
  background: #31353f;
  margin-right: 1px;
  width: 628px;
  height: 1px;
}
.times {
  margin: 0 13px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 613px;
  box-sizing: border-box;
}
.timeline {
  margin-right: 5rem;
  width: 110px;
  overflow-wrap: break-word;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.333;
  color: var(--text-10, #9e9e9e);
}
.live-market {
  border-radius: 15px;
  background: #1b2028;
  position: relative;
  margin-right: 1px;
  display: flex;
  flex-direction: column;
  padding: 30px 24px 25px 30px;
  width: 738px;
  box-sizing: border-box;
}
.live-market-container {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 684px;
  box-sizing: border-box;
}
.live-market-heading {
  margin-right: 16px;
  width: 595px;
  overflow-wrap: break-word;
  font-weight: 600;
  font-size: 21px;
  color: var(--text-100, #ffffff);
}
.view-more {
  opacity: 0.6;
  overflow-wrap: break-word;
  font-weight: 600;
  font-size: 10px;
  line-height: 2.2;
  color: var(--stroke, #e4e4e4);
}
.table-heading,
.table-row {
  margin: 0 3px 16px 3px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  box-sizing: border-box;
  width: 100%;
}
.table-heading-text {
  margin-right: 9px;
  width: 161px;
  overflow-wrap: break-word;
  font-weight: 400;
  font-size: 12px;
  color: var(--text-10, #9e9e9e);
}
.table-row-container {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.table-row-coin {
  opacity: 0.8;
  margin: 6px 0 5px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.3px;
  color: var(--text-100, #ffffff);
}
.value {
  opacity: 0.8;
  margin: 6px 0 5px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.3px;
  color: var(--text-100, #ffffff);
}
.more-icon {
  margin-right: 1.5px;
  width: 100%;
  height: 100%;
}
.iconmore {
  display: flex;
  height: fit-content;
  box-sizing: border-box;
}
.sidebar-link-text {
  margin: 1.5px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-weight: 600;
  font-size: 14px;
  color: var(--text-100, #ffffff);
}
.logo {
  margin: 0 0 71px 3px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.logoipsm {
  overflow-wrap: break-word;
  font-family: "Inter";
  font-weight: 700;
  font-size: 21px;
  color: var(--text-100, #ffffff);
}
.logo-22 {
  margin: 2px 10px 3px 0;
  width: 36px;
  height: 20px;
}
.iconlogout {
  margin-right: 20px;
  width: 24px;
  height: 24px;
}
.chip {
  border-radius: 5px;
  position: relative;
  display: flex;
  flex-direction: row;
  column-gap: 0px;
  width: 37px;
  box-sizing: border-box;
}
.credit-card {
  opacity: 0.6;
  margin: 0px 12px 0 0;
  display: inline-block;
  width: 266px;
  overflow-wrap: break-word;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.5px;
  color: var(--white, #ffffff);
}
.icon {
  border-radius: 8px;
  background: #1b2028;
  position: relative;
  margin-right: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
  width: 44px;
  height: 44px;
  box-sizing: border-box;
}
.icon-34 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 24px;
  height: 24px;
  box-sizing: border-box;
}
.icon-notification {
  width: 24px;
  height: 24px;
}
.profile {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.photo {
  border-radius: 10px;
  background: var(--text-10, #9e9e9e);
  margin-right: 15px;
  width: 44px;
  height: 44px;
}
.courtney-henry {
  margin: 11.5px 23.7px 11.5px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-weight: 500;
  font-size: 14px;
  color: var(--text-100, #ffffff);
}
.iconarrow-down {
  margin: 19.9px 0 19.1px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 8.6px;
  height: 5px;
  box-sizing: border-box;
}
.vector-38 {
  width: 8.6px;
  height: 5px;
}
.graphs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
.frame-38 {
  margin-bottom: 4px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.iconarrow-down-96 {
  margin: 8.9px 0 8.3px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 6.4px;
  height: 3.8px;
  box-sizing: border-box;
}
.vector-97 {
  width: 6.4px;
  height: 3.8px;
}
.vector-119 {
  width: 6.4px;
  height: 3.8px;
}
.live-market {
  border-radius: 15px;
  background: #1b2028;
  position: relative;
  margin-right: 1px;
  display: flex;
  flex-direction: column;
  padding: 30px 24px 25px 30px;
  width: 738px;
  box-sizing: border-box;
}
.value-179 {
  opacity: 0.8;
  margin-right: 10.5px;
  width: 93.8px;
  overflow-wrap: break-word;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.3px;
  color: var(--text-100, #ffffff);
}
.iconbitcoinbtc-180 {
  margin-right: 10px;
  width: 32px;
  height: 32px;
}
.container-203 {
  position: relative;
  margin-bottom: 36px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 315px;
  box-sizing: border-box;
}
.value-container {
  margin: 6px 0 5px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 123.8px;
  height: fit-content;
  box-sizing: border-box;
}
.status {
  margin: 2px 0;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.container-226 {
  margin: 26px 0 28px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}